<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsam minima accusantium cum unde veritatis explicabo quibusdam illum. Facere deleniti fugiat illo, reiciendis impedit ex rerum id, quis labore quibusdam expedita obcaecati nulla illum nihil consequatur, at dolorum ratione vitae!</p>
    </div>
</div>